*.pyc
.DS_Store
*.psd

# production files with secrets
config.py

# virtualenv directories
env/
venv/
ENV/

# extra project directories
extras/
node_modules/

# komodo project stuff
.komodotools
*.komodoproject
project/test.db
*.ai
project/static/js/bundle.js
.vscode/settings.json
