[[source]]

verify_ssl = true
url = "https://pypi.python.org/simple"
name = "pypi"


[requires]

python_version = "3.7"


[dev-packages]



[packages]

flask = "*"
requests = "*"
watchdog = "*"
pylint = "*"
rope = "*"