<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <title>Flush the Toilet</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="{{ url_for('static', filename='css/font-awesome-4.1.0.min.css') }}" type="text/css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css"/>
    <link href="{{ url_for('static', filename='css/style.css') }}" type="text/css" rel="stylesheet"/>

    <style>
        body {
            padding: 0;
            margin: 0;
        }
        html, body, #map {
            height: 100%;
            width: 100%;
        }
    </style>

</head>

<body>

<div id="loadingScreen">
    <div id="msg-loading"><h1 class="text-center">Loading...<!--<i class="fa fa-cog fa-spin fa-3x fa-fw"></i><span class="sr-only"></span>--></h1></div>
</div>

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div id="titleBlock" class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <span class="hidden-xs hidden-sm">
        <h1 class="title">Flush the Toilet!<br>
        <span class="subtitle">See where your wastewater goes when you flush!</span>
        </h1>
      </span>
      <span class="hidden-md hidden-lg">
        <h3 class="title">Flush the Toilet!</h3>
        <div id="addressSearch-nav" class="text-center addressSearch">
            <span id="nav-searchbox-container">
                <form role="search">
                    <div class="form-group has-feedback">
                        <input id="nav-searchbox" class="searchbox form-control input-lg"type="text" placeholder="Enter an address" data-content="Search by Address.">
                        <span id="nav-searchicon" class="searchicon fa fa-search fa-2x form-control-feedback"></span>
                    </div>
                </form>
            </span>
        </div>        
      </span>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li id="aboutBlock">
            <button id="aboutButton" type="button" class="btn btn-default"><span>About</span></button>
            <!--<a id="aboutButton" href="#"><i class="fa fa-info"></i><span class="sr-only">About this thing</span></a>-->
        </li>
        <li id="credits">
            <p class="small"style="color:#fff;">A project by:</p>
            <img class="credit-logos" src="static/resources/logo_alcosan.png"/>
            <br><br>
            <img class="credit-logos" src="static/resources/logo_3rww.png"/>
            <br><br>
            <img class="credit-logos" src="static/resources/logo_civicmapper.png"/>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div id="messageControl" style="display: none;">
    <div id="addressSearch-main" class="addressSearch text-center hidden-xs hidden-sm">
        <span id="main-searchbox-container">
            <form role="search">
                <div class="form-group has-feedback">
                    <input id="main-searchbox" class="searchbox form-control input-lg"type="text" placeholder="Enter an address" data-content="Search by Address.">
                    <span id="main-searchicon" class="searchicon fa fa-search fa-2x form-control-feedback"></span>
                </div>
            </form>
        </span>
    </div>
    <div id="msg-error" class="messages" role="alert"></div>
    <div id="msg-tracing" class="messages">
        <h1 class="text-center">Flushing...<i class="fa fa-cog fa-spin fa-2x fa-fw"></i><span class="sr-only">Flushing...</span></h1>
        <h2 class="text-center">Did you Know?<br><small class="messages"><em><span id="msg-facts"></span></em></small></h2>
    </div>
</div>

<div class="modal" id="attributionModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h1 class="modal-title">Flush the Toilet!<small>is brought to you by:</small></h1>
            </div>
            <div class="modal-body">
              <div class="row">
                  <div class="col-sm-12">
                    <h2>Partners</h2>
                    <ul>
                      <li><a href="http://www.alcosan.org">ALCOSAN</a></li>
                      <li><a href="http://www.civicmapper.com">CivicMapper</a></li>
                      <li><a href="http://www.3riverswetweather.org">3 Rivers Wet Weather</a></li>
                      <li><a href="http://www.aecom.com/co/offices/?qi=Pittsburgh">AECOM</a></li>
                    </ul>
                    <h2>Data and Software</h2>
                    <ul>
                      <li>Sewer Infrastructure network data and tracing services: <a href="http://www.3riverswetweather.org">3 Rivers Wet Weather</a> (the same data and tracing tools used on this map can be accessed on the <a href="http://mds.3riverswetweather.org/">3RWW Sewer Atlas</a>)</li>
                      <li>Regionalization Data: <a href="http://www.alcosan.org">ALCOSAN</a> and <a href="http://www.aecom.com/co/offices/?qi=Pittsburgh">AECOM</a>.</li>
                      <li>Basemap data: &copy; <a href="https://www.mapbox.com/about/maps/" target="_blank">Mapbox</a><span> & &copy; <a href="http://www.openstreetmap.org/copyright" target="_blank">OpenStreetMap</a> contributors</span>.</li>
                      <li>Web mapping: <a href='http://leafletjs.com'>Leaflet</a> and <a href='http://esri.github.io/esri-leaflet/'>Esri-Leaflet</a></li>
                      <li>Geocoding: <a href='https://mapzen.com/'>Mapzen</a></li>
                    </ul>
                  </div>
              </div>              
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>            
        </div>
    </div>
</div>

<div class="modal" id="aboutModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h1 class="modal-title">Flush the Toilet!</h1>
            </div>
            <div class="modal-body">
                <ul class="nav nav-tabs nav-justified" id="aboutTabs">
                    <li class="active"><a href="#about" data-toggle="tab" aria-expanded="true">About</a></li> 
                    <li><a href="#legend" data-toggle="tab" aria-expanded="false"></i>Legend</a></li>
                    <li><a href="#creditsTab" data-toggle="tab" aria-expanded="false">Credits</a></li>
                </ul>
                <div class="tab-content" id="aboutTabsContent">
                    <div id="about" class="tab-pane active in">
                        <div class="row">
                            <div class="col-sm-12">
                                <h2>What is this?</h2>
                                
                                <p class="lead">This is a web map that enables one to see how far and where the wastewater from a specific address goes before getting to the ALCOSAN plant.</p>
                                
                                <p class="lead">It also shows the complete sewer infrastructure network in the ALCOSAN service area&mdash;acomposite of data from 82 municipalities&mdash;as well as the extents of the infrastructure that may be <em>regionalized</em> by ALCOSAN (note that regionalization extents shown here are preliminary and subject to change).</p>
                                
                                <p class="lead">In addition to showing where your toilet flushes to, this map demonstrates the power of using open-source technology and open data standards designed for the modern web.</p>
                                
                                <h3>How does it work?</h3>
                                
                                <p>When you type an address, we use what is called a "geocoder" to figure out the latitude and longitude of the address. From that location, we determine where the nearest sewer structure (e.g., manhole) is, and then trace the pipes downstream to the plant.</p>
                                
                                <p>This map utilizes an existing database of sewer pipe infrastruture in the region. That database is maintained by 3 Rivers Wet Weather, with support from ALCOSAN, a few other consultants, and the 82 communities within ALCOSAN's service area.</p>
                                
                                <h3>Any caveats?</h1>
                                
                                <p>Generally, this will give you a good sense of where and how far your toilet flushes go. However, the trace is accurate only to a point: the accuracy of the geocoder varies, and service line locations are <em>not always consistently documented</em>. To keep things simple (and fast) for this demonstration, we're only looking for the <em>nearest sewer structure</em> to the <em>geocoded location</em>. </p>
                                
                                <p>The <em>geocoded location</em> is likely not the point at which the sewer service line attaches the building at the address; because the geocoding comes from a 3rd party service, Mapzen, we don't have control over where specifically that address gets put on the map. The <em>nearest structure</em> may not be where the service line actually ties into the sewers; it may even be uphill.</p>
                                
                                <h3>OK, how does it really work? <small>I'm a technical person and want to learn more about this sort of thing.</small></h3>
                                
                                <p>The sewer database is managed in a geographic information systems (GIS): a PostGIS-enabled PostgreSQL database, provided as a web service via Esri ArcGIS Server software. The tracing functionality comes from a geoprocessing service that runs on that software and taps the databse. The client-side web application makes calls to to both the database and the geoprocessing service via the ArcGIS REST API to do it's thing.</p>
                                
                                <p>On the front-end (the map), we're using a the Leaflet web mapping library, with an Open Street Map-sourced basemap service from Mapbox that we custom designed. This handles the rendering of all the contextual information, sewer data, and trace results you see on the map.</p>
                                
                                <p>The rest of the application utilizes some other typical web and server libraries: Python Flask on the back-end, and Bootstrap and jQuery on the front-end.</p>
                                
                                <h3>Why is that important?</h3>
                                
                                <p>All the GIS technology utilized by the map is already in place and is used on a daily basis; we merely interfaced with it in a different way to make this little mapping application. Other than Esri ArcGIS Server, all of the software used by the application is free and open source.</p>
                                
                                <p>In addition to showing where your toilet flushes go, this map demonstrates the power of using open-source technology and open data standards designed for the modern web.</p>
                            </div>
                        </div>
                    </div>                  
                    <div id="legend" class="tab-pane">
                        <div class="row legend-line-1">
                            <div class="col-sm-2">
                                <h3 class="text-right"><i class="fa fa-minus"></i></h3>
                            </div>                            
                            <div class="col-sm-10">
                                <h3>Regionalization Extents <small>(August 2017, Subject to Change)</small></h3>
                            </div>
                        </div>
                        <div class="row legend-line-2">
                            <div class="col-sm-2">
                                <h3 class="text-right"><i class="fa fa-minus"></i></h3>
                            </div>
                            <div class="col-sm-10">
                                <h3>ALCOSAN-owned infrastructure</h3>
                            </div>
                        </div>
                        <div class="row legend-line-3">
                            <div class="col-sm-2">
                                <h3 class="text-right"><i class="fa fa-minus"></i></h3>
                            </div>                            
                            <div class="col-sm-10">
                                <h3>Municipal-owned infrastructure</h3>
                            </div>
                        </div>
                    </div>
                    <div id="creditsTab" class="tab-pane">
                        <div class="row">
                            <div class="col-sm-12">
                                <h3>This web map was built by <a href="http://www.civicmapper.com">CivicMapper</a> with support from <a href="http://www.3riverswetweather.org">3 Rivers Wet Weather</a>.</h3>
                                <h4>Sewer Infrastructure network data and tracing services come from <a href="http://www.3riverswetweather.org">3 Rivers Wet Weather</a>. The same data and tracing tools used on this map can be accessed on the <a href="http://mds.3riverswetweather.org/">3RWW Sewer Atlas</a></h4>
                                <h4> Regionalization Data comes from <a href="http://www.alcosan.org">ALCOSAN</a> and <a href="http://www.aecom.com/co/offices/?qi=Pittsburgh">AECOM</a>.</h4>
                                <h4>Basemap data is &copy; <a href="https://www.mapbox.com/about/maps/" target="_blank">Mapbox</a><span> and &copy; <a href="http://www.openstreetmap.org/copyright" target="_blank">OpenStreetMap</a> contributors</span>.</h4>
                                <h4>Software by <a href='http://leafletjs.com'>Leaflet</a>, <a href='http://esri.github.io/esri-leaflet/'>Esri-Leaflet</a>, and <a href='https://mapzen.com/'>Mapzen</a></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal" id="resultsModal" tabindex="-1" role="dialog">
    <div id="resultsModalContent" class="modal-dialog modal-lg">
    </div>
</div>

{% raw %}
<script id="handlebars-legend" type="text/x-handlebars-template">
    <div id="legend">
        <div class="legend-line-2">
            <p><i class="fa fa-minus"></i> ALCOSAN-owned infrastructure</p>
        </div>
        <div class="legend-line-3">
            <p><i class="fa fa-minus"></i> Municipal-owned infrastructure</p>
        </div>
        <div class="legend-line-1">
            <p><i class="fa fa-minus"></i> Regionalization Extents <small>(August 2017, Subject to Change)</small></p>
        </div>        
    </div>
</script>

<script id="handlebars-results" type="text/x-handlebars-template">
  <div class="modal-content">
      <div class="modal-header">
          <button class="close" type="button" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h1 class="modal-title">Here's what happens when you flush from {{address}}!</small></h1>
      </div>      
      <div class="modal-body">
        <div class="row">
            <div class="col-sm-12">
              <h4>Distance to Plant:<br>
                <span id="traceLength" class="traceResults">{{traceLength}}</span> feet (<span id="traceLengthMi" class="traceResults">{{traceLengthMi}}</span> miles)
              </h4>
              <h4>Inch-Miles (a proxy for capacity):<br>
                <span id="inchMiles" class="traceResults">{{inchMiles}}</span>
              </h4>
              <h4>Municipalities/Neighborhoods Passed:</h4>
              <ul id="munihoods" class="traceResults">
                {{#each munihoods}}
                <li>{{munihood}}</li>
                {{/each}}
              </ul>
            </div>
        </div>              
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>            
  </div> 
</script>

{% endraw %}
    
<div id="map"></div>

<!-- jQuery + Bootstrap -->
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<!-- Leaflet + Esri-Leaflet -->
<script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
<script src="{{ url_for('static', filename='libs/Leaflet.Control.Custom/Leaflet.Control.Custom.js') }}"></script>
<script src="{{ url_for('static', filename='libs/esri-leaflet/dist/esri-leaflet.js') }}"></script>
<script src="{{ url_for('static', filename='libs/esri-leaflet-gp/dist/esri-leaflet-gp.js') }}"></script>
<!-- supporting scripts -->
<script src="https://unpkg.com/terraformer@1.0.7"></script>
<script src="https://unpkg.com/terraformer-arcgis-parser@1.0.5"></script>
<!--<script src="http://d3js.org/d3.v3.min.js" type="text/javascript"></script>-->
<!--<script src="https://npmcdn.com/@turf/turf/turf.min.js"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.3/handlebars.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.10.5/typeahead.bundle.min.js"></script>
<!-- application logic -->
<script type="text/javascript" src="{{ url_for('static', filename='js/bundle.js') }}" defer></script>

</body>
</html>
