@import url('https://fonts.googleapis.com/css?family=Fjalla+One');

body {
	padding: 0;
	margin: 0;
}

html,body,#map,#loadingScreen {
	height: 100%;
	width: 100%;
	font-family: 'Fjalla One', sans-serif;
}

#loadingScreen {
	z-index: 50000;
	background-color: #000;
	color: #fff;
}
#searchicon {
	padding-top:6px;
	padding-right:7px;
}
#credits, #titleBlock, #msg-results, #msg-error, #msg-tracing {
	margin-top: 20px;
	margin-right: 10px;
	padding: 10px;
	background-color: rgba(25,25,25,0.7);
	box-shadow: 5px 5px 10px rgba(25,25,25,0.9);
}
.credit-logos {
	width: 200px;
}
#msg-results, #msg-tracing {
	color:#fff;
}

#msg-tracing {
	text-shadow: 5px 5px 10px rgba(25,25,25,0.9);
}

#traceLength, #traceLengthMi, #inchMiles {
	/*color: #B0BB01;*/
	color: #48CBDB;
}
#munihoods {
	color: #D36122;
}

#aboutButton, #resetButton, .leaflet-control-zoom-in, .leaflet-control-zoom-out {
	color: #fff !important;
	background-color: rgba(25,25,25,0.7) !important;
	border-color: rgba(20,20,20,0.9) !important;
	border-style: solid !important;
	border-width: 1px !important;
}

/* cross-platform shadows for transparent pngs */
.shadowed {
	filter:"progid:DXImageTransform.Microsoft.Dropshadow(OffX=5, OffY=5,
Color='#191919')";
	filter: url(#drop-shadow);
	-webkit-filter: drop-shadow(5px 5px 5px rgba(25,25,25,0.9));
	filter: drop-shadow(5px 5px 5px rgba(25,25,25,0.9));
}

#title {
	color: #fff;
	text-shadow: 5px 5px 10px rgba(25,25,25,0.9);
}
#subtitle {
	color: #fff;
	font-size: 0.5em !important;
	text-shadow: 5px 5px 10px rgba(25,25,25,0.9);
}

#addressSearch {
	width: 100%%;
}

#messageControl {
  position: absolute;
  width: 40%;
  top: 60%;
  left: 30%;
  transform: translateY(-60%); /* using the CSS3 Transform technique */
  /*margin: -10px 0 0 -110px;*/
  padding-top: 10px;
  margin-bottom: 10px;
  z-index: 20001;
}

#msg-loading {
  position: absolute;
  width: 50%;
  top: 50%;
  left: 25%;
  transform: translateY(-50%); /* using the CSS3 Transform technique */
  padding-top: 10px;
  margin-bottom: 10px;
  z-index: 30001;
}

.messages {
	color:#fff;	
}


.leaflet-control-zoom, #aboutButton, #resetButton, .twitter-typeahead {
	box-shadow: 5px 5px 10px rgba(25,25,25,0.9);
}


/**
 * Typeahead
 */

.tt-dropdown-menu {
	background-color: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 4px 4px 4px 4px;
	box-shadow: 5px 5px 10px rgba(25,25,25,0.9);
	margin-top: 4px;
	padding: 4px 0;
	width: 100%;
	max-height: 300px;
	overflow: auto;
	z-index: 10000 !important;
}

.tt-suggestion {
	font-size: 14px;
	line-height: 20px;
	padding: 3px 10px;
}

.tt-suggestion.tt-cursor {
	background-color: #0097CF;
	color: #FFFFFF;
	cursor: pointer;
}

.tt-suggestion p {
	margin: 0;
}

.tt-suggestion+.tt-suggestion {
	border-top: 1px solid #ccc;
}

.typeahead-header {
	margin: 0 5px 5px 5px;
	padding: 3px 0;
	border-bottom: 2px solid #333;
}

.has-feedback .form-control-feedback {
	position: absolute;
	top: 0;
	right: 0;
	display: block;
	width: 34px;
	height: 34px;
	line-height: 34px;
	text-align: center;
}

.legend-line-1 {
	color: #ABCF96 !important;
}
.legend-line-2 {
	color: #B4C035 !important;
}
.legend-line-3 {
	color: #50A8B0 !important;
}
.fa-minus {
	font-stretch: ultra-expanded;
}

/* Animated Line */

/*svg {
	position: relative;
}*/

/*path {
	fill: yellow;
	stroke-width: 2px;
	stroke: red;
	stroke-opacity: 1;
}*/

/*.travelMarker {
	fill: yellow;
	opacity: 0.75;
}

.waypoints {
	fill: white;
	opacity: 0;
}

}
.drinks {
	stroke: black;
	fill: red;
}
.lineConnect {
	fill: none;
	stroke: yellow;
	opacity: 1;
}
.locnames {
	fill: white;
	text-shadow: 1px 1px 1px #FFF, 3px 3px 5px #000;
	font-weight: bold;
	font-size: 13px;
}*/